<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TwitterBot</title>
    <link th:href="@{/lib/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" alt="Card"/>
                <div class="card-body">
                    <h5 class="card-title">Auto Follow Bot</h5>
                    <p class="card-text">
                        指定したキーワードをもとに、自動でフォロバするツールです。
                        例えば、キーワードにエンジニアと指定したら、プロフィールにエンジニアと書かれたアカウントのみ自動でフォローバックをします。
                    </p>
                    <form th:action="@{/connect/twitter}" method="POST">
                        <button class="btn btn-primary">Twitterにログイン</button>
                    </form>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" alt="Card"/>
                <div class="card-body">
                    <h5 class="card-title">Auto Tweet Bot</h5>
                    <p class="card-text">
                        今までにつぶやいた内容をもとに、ツイートの自動生成と投稿を行うツールです。
                        自分のアカウント以外にも、メディアアーティスト落合陽一さんのツイートをもとにつぶやくことができます。
                    </p>
                    <form th:action="@{/signin/twitter}" method="POST">
                        <button class="btn btn-primary">Twitterにログイン</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>