<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello Twitter</title>
</head>
<body>
<h3>Hello, <!--/*@thymesVar id="twitterProfile" type="org.springframework.social.twitter.api.TwitterProfile"*/-->
    <span th:text="${twitterProfile.name}">Some User</span>!</h3>

<h4>These are your friends:</h4>

<ul>
    <!--/*@thymesVar id="friends" type="org.springframework.social.twitter.api.FriendOperations"*/-->
    <li th:each="friend:${friends}" th:text="${friend.getName()}">Friend</li>
</ul>
</body>
</html>